<div class="container mt-5">
  <mat-card class="mx-auto custom-card ">
    <mat-card-title class="text-center mb-3">Login Form</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="signIn()">
       

        <div class="mb-3">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="signinForm.get('email')!.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="signinForm.get('email')!.hasError('email')">
              Invalid email address
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="signinForm.get('password')!.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="signinForm.get('password')!.hasError('minlength')">
              Password must be at least 6 characters
            </mat-error>
          </mat-form-field>
        </div>
        <mat-error>
        {{errormessage}}
        </mat-error>

        
        <div class="text-center">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
      </form>
    </mat-card-content>
    <p class="signup-link">No account? <a routerLink='/register'>Sign up</a></p>
  </mat-card>
</div>
